<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Næringsinnhold fra Matvaretabellen</title>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/matvaretabellen/main.css" />
    <script src="https://tools-static.wmflabs.org/matvaretabellen/lib/jquery-1.8.2.min.js"></script>
    <script src="https://tools-static.wmflabs.org/matvaretabellen/lib/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://tools-static.wmflabs.org/matvaretabellen/lib/bootstrap/css/bootstrap.min.css" />
    {% block header %}
    {% endblock %}
</head>
<body>
    <header class="container">
        <img src="https://tools-static.wmflabs.org/matvaretabellen/images/Wikimedia_Labs_logo_notext.svg.png" style="width: 80px; height: 80px; float:right;" />
        <h1>{{ '{{' }}<a href="//no.wikipedia.org/wiki/Mal:Næringsinnhold">Næringsinnhold</a>{{ '}}' }}
        fra <a href="http://www.matvaretabellen.no">Matvaretabellen</a></h1>
    </header>

    {% block content %}{% endblock %}

<footer>
{% block footer %}
    Dette verktøyet er skrevet av <a href="//no.wikipedia.org/wiki/Bruker:Danmichaelo">Danmichaelo</a>. 
    Kildekoden er <a href="https://github.com/danmichaelo/matvaretabellen">åpen</a> 
    og tilgjengelig som <a href="http://unlicense.org/">offentlig eiendom</a> (PD).
{% endblock %}
</footer>

</body>
</html>
